.container {
  left: -628px;
  top: 204px;
  width: 1440px;
  height: 696px;
  background-color: #fff;
}

/* Стилі для ul та li */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
}

/* Стилі для зображень */
.gallery-image {
  border: 1px solid #000;
  width: 360px;
  height: 200px;
  display: block;
  background: url("path_to_image");
}

/* Стилі для посилання */
.gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
